<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TimeServlet</title>
</head>
<body>
<p><span style="color:#0000FF;"><span style="background-color:#FFD700;"><b>Час у вибраному часовому поясі:</b></span></span></p>
<p> <strong style="color: rgb(0, 0, 255);"><span style="color:#FFD700;"><span style="background-color:#0000CD;" th:text = "${queryParams.get('timeString')}"</span></span></strong> </p>
</body>
</html>